img.icon {
    display: inline-block;
    vertical-align: -7px;
    width: 28px;
    height: 28px;
    background-size: 28px;
}

h2 img.icon {
    vertical-align: -5px;
}

img[light] {
    content: url("/assets/images/input/light.png");
}

img[medium] {
    content: url("/assets/images/input/medium.png");
}

img[heavy] {
    content: url("/assets/images/input/heavy.png");
}

img[unique] {
    content: url("/assets/images/input/unique.png");
}

img[skill] {
    content: url("/assets/images/input/skill.png");
}

img[block] {
    content: url("/assets/images/input/block.png");
}

img[throw] {
    content: url("/assets/images/input/throw.png");
}

img[dash] {
    content: url("/assets/images/input/dash.png");
}

img[d1] {
    content: url("/assets/images/input/1.png");
}

img[d2] {
    content: url("/assets/images/input/2.png");
}

img[d3] {
    content: url("/assets/images/input/3.png");
}

img[d4] {
    content: url("/assets/images/input/4.png");
}

img[d5] {
    content: url("/assets/images/input/5.png");
}

img[d6] {
    content: url("/assets/images/input/6.png");
}

img[d7] {
    content: url("/assets/images/input/7.png");
}

img[d8] {
    content: url("/assets/images/input/8.png");
}

img[d9] {
    content: url("/assets/images/input/9.png");
}

img[d236] {
    content: url("/assets/images/input/236.png");
}

img[d214] {
    content: url("/assets/images/input/236.png");
    transform: scaleX(-1);
}