html {
    height: 100%;
    color: #FFFFFF;
    font-family: sans-serif;
    background: #020613;
    line-height: 180%;
}

body {
    width: 80%;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    padding: 48px;
    box-sizing: border-box;
    background: #0E152E;
}

h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid #2d76fe;
}

h2 {
    padding-top: 20px;
}

a {
    color: #2d76fe;
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: #2e3c5f;
}

td {
    padding: 16px;
    border: 1px solid #222731;
}

video {
    width: 100%;
    margin-top: 8px;
}

combo {
    white-space: nowrap;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 16px;
    font-weight: bold;
    background-color: #090e22;
}