<!doctype html>
<html lang="{{ page.lang }}">

<head>
    <meta charset="utf-8">
    <title>Charlotta Gameplan</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <script src="/assets/js/notations.js" defer></script>
</head>

<body>
    {% if page.url contains "home" %}
    <a href="/en-us/home">English</a> | <a href="/pt-br/home">Português Brasileiro</a>
    {% else %}
    {% if page.lang == "en-us" %}
    <a href="./home">&lt; Back to home</a>
    {% elsif page.lang == "pt-br" %}
    <a href="./home">&lt; Página inicial</a>
    {% endif %}
    {% endif %}
    {{ content }}
</body>

</html>